header{
  border-bottom: 1px solid #F2F2F2;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // min-width: 1200px; 
  height: 60px;
  margin: 0 auto;
  // width: 80%;
}
.home-container {
  margin: 0 auto;
  width: 80%;
  position: relative;
  min-width: 1160px;
  max-width: 1400px;
  &-client {
    width: inherit;
    min-width: inherit;
    margin: 0 1rem;
    .sub-title {
      margin: 20px 0;
    }
  }
  .title-client {
    margin: 60px 0 45px;
    font-size: 36px;
  }
}
.header-left {
  img {
    width: 157px;
    height: 40px;
  }
}
.header-right {
  display: flex;
  li {
    margin-left: 40px;
    font-size: 18px;
    color: #666;
    a {
      color: #666;
      font-size: 18px;
    }
  }
}